<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado de Técnicos</title>
		<!-- Agregar Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		
		crossorigin="anonymous"></script>

	<!-- Popper.js -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>

<body>
	<div class="admin-dashboard">

		 <div class="ds-left-menu">
    
                <button class="btn-menu">
                    <ion-icon name="chevron-back-circle"></ion-icon>
                </button>
    
                <div class="ds-perfil">
                    <div class="foto">
                        <ion-icon name="person-circle"></ion-icon>
                    </div>
                    <div class="info-perfil">
                        <h3>[[${user.getFullname()}]]</h3>
                    </div>
                </div>
    
                <div class="line"></div>

                <div class="ds-menu">                    
                    <ul div="menu-list">
                        <li class="active">
                            <a href="/admin-page">
                                <div class="icon">
                                    <ion-icon name="home"></ion-icon>
                                </div>
                                <div class="text">
                                    <span>Home</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/listaIncidenciasReportadas">
                                <div class="icon">
                                    <ion-icon name="construct-outline"></ion-icon>
                                </div>
                                <div class="text">
                                    <span>Incidentes R.</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/listadoDeIncidenciasEvaluadas">
                                <div class="icon">
                                    <ion-icon name="folder-open-outline"></ion-icon>
                                </div>                           
                                <div class="text">
                                    <span>Incidentes E.</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/listaDeTecnicos">
                                <div class="icon">
                                    <ion-icon name="hammer-outline"></ion-icon>
                                </div>
                                <div class="text">
                                    <span>Tecnicos</span>
                                </div>
                            </a>
                        </li>   
                    </ul> 
                </div>
    
                <div class="line-two"></div>

                <div class="sign-off">
					<span sec:authorize="isAuthenticated">
					   <a th:href="@{/logout}" class="btn-sign-off">
						   <div class="icon">
						       <ion-icon name="log-out-outline"></ion-icon>
						   </div>
						   <div class="text">
						      <span>Logout</span>
						   </div>
					   </a>
					</span>
                </div>
                 
            </div>

		<div class="ds-panel">

			<div class="panel-header">
				<div class="icono">
					<ion-icon name="hammer-outline"></ion-icon>
				</div>
				<h2>Lista de Técnicos</h2>
			</div>
			
			<div class="panel-insights">
				<div class="box">
					<p>
						<span style="color: white;" th:text="${cantidadTecnicos}"></span>
						<span>Técnicos </span>
					</p>
					<ion-icon name="construct-outline"></ion-icon>
				</div>
				
			
				<div class="box">
					<p>
						<span style="color: white;" th:text="${tecnicosDisponibles}"></span>
						<span>Disponibles</span>
					</p>
					<ion-icon name="checkmark-circle-outline"></ion-icon>
				</div>
			
				<div class="box">
					<p>
						<span style="color: white;" th:text="${tecnicosOcupados}"></span>
						<span>Ocupados</span>
					</p>
					<ion-icon name="close-circle-outline"></ion-icon>
				</div>
			</div>
			


			<div class="table-container">


				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>DNI</th>
							<th>Teléfono</th>	
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tecnico : ${tecnicos}">
							<td th:text="${tecnico.id_tecnico}"></td>
							<td th:text="${tecnico.nombre}"></td>
							<td th:text="${tecnico.apellidos}"></td>
							<td th:text="${tecnico.dni}"></td>
							<td th:text="${tecnico.telefono}"></td>
							<td th:text="${tecnico.estado}"></td>
							<td>
								<button type="button" class="btn btn-primary btn-ver-detalles" th:attr="data-tecnico='{&quot;id_tecnico&quot;: &quot;'+${tecnico.id_tecnico}+'&quot;,
                                                                                                                       &quot;nombre&quot;: &quot;'+${tecnico.nombre}+'&quot;,
                                                                                                                       &quot;apellidos&quot;: &quot;'+${tecnico.apellidos}+'&quot;,
                                                                                                                       &quot;dni&quot;: &quot;'+${tecnico.dni}+'&quot;,
                                                                                                                       &quot;telefono&quot;: &quot;'+${tecnico.telefono}+'&quot;,
                                                                                                                       &quot;estado&quot;: &quot;'+${tecnico.estado}+'&quot;}'">
                        			Ver Detalles
                    			</button>
								
								<button th:if="${#strings.trim(tecnico.estado) != 'OCUPADO'}" type="button" class="btn btn-success">
									Asignar
								</button>
								<button th:if="${#strings.trim(tecnico.estado) == 'OCUPADO'}" type="button" class="btn btn-success" th:disabled="true">
									Asignar
								</button>
							
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		
		<div class="modal fade" id="detalleTecnicoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header custom-modal-header">
                <h5 style="text-align: center;" class="modal-title" id="exampleModalLabel">Detalles del Técnico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="idTecnico">ID:</label>
                    <input type="text" class="form-control" id="idTecnico" readonly disabled="true">
                </div>
                <div class="mb-3">
                    <label for="nombreTecnico">Nombre:</label>
                    <input type="text" class="form-control" id="nombreTecnico" readonly disabled="true">
                </div>
                <div class="mb-3">
                    <label for="apellidosTecnico">Apellidos:</label>
                    <input type="text" class="form-control" id="apellidosTecnico" readonly disabled="true">
                </div>
                
                <div class="mb-3">
                    <label for="dni">Dni:</label>
                    <input type="text" class="form-control" id="dni" readonly disabled="true">
                </div>
                
                <div class="mb-3">
                    <label for="Telefono">Telefono:</label>
                    <input type="text" class="form-control" id="telefono" readonly disabled="true">
                </div>
                
                 <div class="mb-3">
                    <label for="estado">Estado:</label>
                    <input type="text" class="form-control" id="estado" readonly disabled="true">
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
	let btnmenu = document.querySelector('.btn-menu');
	let dsleftmenu = document.querySelector('.ds-left-menu');
	let line = document.querySelector('.line');
	let linetwo = document.querySelector('.line-two');
	let infoperfil = document.querySelector('.info-perfil');

	btnmenu.onclick = function () {
		btnmenu.classList.toggle('rotate');
		dsleftmenu.classList.toggle('active');
		line.classList.toggle('short');
		linetwo.classList.toggle('short');
		infoperfil.classList.toggle('hidden');
	}

	let menulist = document.querySelectorAll('.ds-menu ul li');
	function activeLink() {
		menulist.forEach((item) =>
			item.classList.remove('active'));
		this.classList.add('active')
	}
	menulist.forEach((item) =>
		item.addEventListener('click', activeLink));
		
/**MODAL**/

$(document).on("click", ".btn-ver-detalles", function() {
    const tecnico = $(this).data("tecnico");
    
    $("#idTecnico").val(tecnico.id_tecnico);
    $("#nombreTecnico").val(tecnico.nombre);
    $("#apellidosTecnico").val(tecnico.apellidos);
    $("#dni").val(tecnico.dni);
    $("#telefono").val(tecnico.telefono);
    $("#estado").val(tecnico.estado);
    
    $("#detalleTecnicoModal").modal("show");
});

</script>

</html>

